@import "tailwindcss";

@theme {
  --default-transition-duration: 150ms;
  --default-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  --breakpoint-xs: 475px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;

  --color-night-sky: #000000;

  --radius-3xl: 3rem;

  --font-size-sm: 14px;
  --font-size-sm--line-height: 20px;
  --font-size-base: 16px;
  --font-size-base--line-height: 24px;
  --font-size-lg: 20px;
  --font-size-lg--line-height: 28px;
  --font-size-xl: 24px;
  --font-size-xl--line-height: 32px;
  --font-size-2xl: 1.563rem;
  --font-size-2xl--line-height: 3.19rem;
  --font-size-3xl: 2.13rem;
  --font-size-3xl--line-height: 3.19rem;
  --font-size-4xl: 3.75rem;
  --font-size-4xl--line-height: 4.13rem;
}

@layer utilities {
  .container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  @media (min-width: 640px) {
    .container {
      max-width: 640px;
    }
  }

  @media (min-width: 768px) {
    .container {
      max-width: 768px;
    }
  }

  @media (min-width: 1024px) {
    .container {
      max-width: 1024px;
    }
  }

  @media (min-width: 1280px) {
    .container {
      max-width: 1280px;
    }
  }

  @media (min-width: 1536px) {
    .container {
      max-width: 1400px;
    }
  }
}

.represent-brand-gradient {
  background: linear-gradient(0deg, #fff 65.13%, #9ec1ff 192.35%);
}

.gradient-radial {
  background: radial-gradient(var(--tw-gradient-stops));
}
